In [1]:
Masters = str(input())
Experience = int(input())

if Masters == "yes":
    if Experience >=2:
        print("Good Fit!")
    else:
        print("Not a Good Fit!")
else:
    print("Not suitable!")

yes
4
Good Fit!

- __Given the first two term a1 and a2 of an ap series. Find the nth term of the series.__

In [2]:
def seriesap(a1,a2,N):
    difference = a2-a1
    nterm = a1+(N-1)*difference
    return nterm

In [3]:
seriesap(2,4,6)

12

In [4]:
seriesap(12,44,6)

172

- __Check if the sum of digits is palindrome or not. example: 121,333,424 etc. are palindromes.__

In [5]:
def palindrome(num):
   
    newNum = 0
    while(num>0):
        newNum = newNum+ num%10
        num//= 10
    return newNum
    revnewNum = 0
    while(num>0):
        revnewNum+= revnewnum*10+ num%10
        num//10
    return 1 if revnewNum == newNum else 0

In [6]:
palindrome(121)

4

In [1]:
def isPalindrome(N):
    newNum = 0
    while(N>0):
        newNum+=N%10
        N//=10
    revNewNum=0
    N=newNum
    while(N>0):
        revNewNum=revNewNum*10+N%10
        N//=10
    return 1 if revNewNum==newNum else 0

In [2]:
print(isPalindrome(N=9292))

1

In [9]:
def palindrome(n):
    newNum = 0
    while(n>0):
        newNum+= n%10
        n//=10
    n = newNum
    revnewnum = 0    
    while(n>0):
        revnewnum = revnewnum*10 + n%10
        n//=10
    return 1 if revnewnum == newNum else 0

In [10]:
palindrome(23443)

0

- __Find the kth digit from the right of  a ^ b that is a to the power b.__

In [11]:
def find_kth(n1,n2,k):
    x = pow(n1,n2)
    temp = 0
    while(k>0):
        temp = x%10
        x = x//10
        k-=1
    return temp    
    
    
    
#Got it!

In [12]:
find_kth(2,8,2)

5

In [13]:
23**65

32531893445129332611554645425981044974375991037324055622153329695632580166211412428357143

def isprime(n):
    if (n==1):
        return 0
    num = 2
    while (num*num<=n):
        if (n%num == 0):
            return 0
        num+=1
    return 1

In [14]:
def isprime(N):
    if (N==0):
        return 0
    num = 2
    while(num*num<=N):
        if (N%num == 0):
            return 0
        num+=1
        return 1

In [15]:
isprime(17)

1

In [16]:
def isprime(n = range(1,101)):  #give range in the function
    if (n == 1):
        return 0
    num = 2
    while(num>=0):
        if (n%num == 0):
            return 0
        num-=1
        return 1

In [17]:
isprime(111)

1

In [18]:
isprime(98)

0

In [19]:
def isprime(n = range(1,101)):
    if (n==0):
        return 0
    else:
        num = 2
        while(num*num<=n):
            if (n%num == 0):
                return 0
            num+=1
            return 1

In [20]:
for n in range(1,101):
    if (n==0):
        print(0)
    else:
        num = 2
        while(num*num<=n):
            if (n%num == 0):
                print(0)
            num+=1
            print(1)

0
1
1
0
1
1
0
1
1
0
1
0
1
1
1
1
0
1
0
1
1
1
0
1
1
1
0
1
0
1
1
0
1
1
1
1
0
1
0
1
1
1
1
1
0
1
1
0
1
1
0
1
1
0
1
1
1
1
1
1
0
1
0
1
0
1
1
1
1
0
1
0
1
1
1
1
1
0
1
1
1
0
1
1
0
1
1
1
1
1
1
0
1
0
1
1
0
1
1
1
1
1
0
1
1
0
1
1
1
0
1
1
1
0
1
1
1
1
1
1
1
0
1
0
1
0
1
0
1
1
0
1
1
1
1
1
1
0
1
1
1
1
1
1
0
1
1
1
1
0
1
1
0
1
0
1
1
1
1
1
1
1
0
1
0
1
1
1
0
1
1
1
1
1
1
0
1
1
0
1
1
1
1
0
1
1
0
1
1
0
1
1
1
1
1
1
1
1
1
1
0
1
0
1
0
1
1
0
1
1
1
1
1
1
0
1
0
1
1
1
0
1
1
1
1
0
1
1
1
1
1
0
1
1
0
1
1
1
1
1
1
1
1
1
1
0
1
0
1
1
1
0
1
1
1
1
1
0
1
1
1
0
1
1
0
1
1
1
0
1
1
0
1
1
1
1
1
0
1
1
1
1
1
1
1
1
1
1
1
1
0
1
0
1
0
1
0
1
0
1
1
1
1
1
1
1
1
0
1
1
1
1
1
1
1
0
1
1
1
1
0
1
0
1
1
0
1
1
1
1
0
1
1
1
1
0
1
1
1
1
0
1
0
1
1
1
0
1
1
1
1
1
1
1
1
1
1
0
1
1
0
1
1
1
1
1
1
0
1
1
1
1
1
1
0
1
1
1
0
1
1
0
1
1
1
1
1
1
1
1
1
0
1
0
1
0
1
1
0
1
1
0
1
1
1
1
1
1
1
1
0
1
1
1
1
1
1
1
1
0
1
1
0
1
1
1
1
0
1
1
0
1
1
1
1
1
1
1
1
1
1
0
1
1
0
1
0
1
1
1
0
1
1
1
1
1
1
1
1
1
1
0
1
1
0
1
0
1
1
1
0
1
1
0
1
1
1
1
1
1
0
1
0
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
0
1
0
1
0
1
1
0
1
0
1
1
1
1
1
1
0
1
1
1
1
1
0
1
1
1
1
1
1
1
1
1
0
1
1
1
1
1
1
1
0
1
1
0
1
1
1
1
0
1
1
1
1
1
1
1
1
1
1
0
1
0
1
1
0
1
0
1
1
1
0
1
1
1
1
1
1
0
1
1
1
0
1
1
0
1
1
1
1
1
1
1
0
1
1
1
1
1
1
1
0
1
1
1
1
1
1
1
1
1
1
1
0
1
1
1
1
1
0
1
0
1
0
1
1
0
1
1
0
1
1
1
1
1
1
1
1
1
1
0
1
1
1
1
1
0
1
1
1
1
0
1
1
1
1
1
1
0
1
0
1
1
0
1
0
1
1
1
1
1
0
1

In [21]:
isprime(101)

1

In [22]:
isprime(211)

1

In [23]:
def isprime(num):
    if (num == 1):
        return 0
    n = 2
    while(n*n <=num):
        if(num%n ==0):
            return 0
        n+=1
    return 1

In [24]:
isprime(17)

1

In [25]:
def reverse(s):
	str = ""
	for i in s:
		str = i + str
	return str

s = "Geeksforgeeks"

print("The original string is : ", end="")
print(s)

print("The reversed string(using loops) is : ", end="")
print(reverse(s))

The original string is : Geeksforgeeks
The reversed string(using loops) is : skeegrofskeeG

In [26]:
p= 'Bakul Verma'
print(p)
p = p[::-1]
p

Bakul Verma

'amreV lukaB'

In [27]:
p = 'Mukabala'
p1 = p[::-1]
p1

'alabakuM'

In [28]:
w = 'Limit'
w[::-1]

'timiL'

- __Factorial of the number given.__

In [29]:
def factorial(number):
    a = 1
    for i in range(2,number+1):
        a = a*i
    return a

In [30]:
def factorial(num):
    factorial = 1
    for i in range(2,num+1):
        factorial = factorial*i
    return factorial

In [31]:
factorial(13)

6227020800

In [32]:
import math

In [33]:
def lcm_gcf(a,b):
    arr = [0]*2
    
    g = math.gcd(a,b)
    l = (a*b)//g
    
    arr[0],arr[1] = l,g
    
    return arr

print(lcm_gcf(12,44))

[132, 4]

In [34]:
lcm_gcf(12,24)

[24, 12]

In [35]:
import math

def lcmandGcd(A, B):
    arr = [0]*2

    g = math.gcd(A,B)
    l = (A*B)//g

    arr[0], arr[1] =l,g

    return arr

print(lcmandGcd(A=12, B=27))

[108, 3]

In [36]:
def lcmgcd(a,b):
    arr = [0]*2
    g = math.gcd(a,b)
    l = (a*b)//g
    arr[0],arr[1] = l,g
    return arr
lcmgcd(12,45)

[180, 3]

- __Write a function to find out the largest prime factor of the number given.__

In [37]:
def largest_prime_factor(number):
    num = 2
    while((num*num)<=number):
        if number%num == 0:
            number = number//num
        else:
            num+=1
    return int(number)

In [38]:
def largest_prime_factor(num):
    n = 2
    while(n*n) <= num:
        if num%n == 0:
            num//=n
        else:
            num+=1
        return num

In [39]:
largest_prime_factor(23)

24

In [40]:
# Given a number N, the task is to find the largest prime factor of that number.

# Input:
# N = 5
# Output:
# 5
# Explanation:
# 5 has 1 prime factor
# i.e 5 only.

# Input:
# N = 24
# Output:
# 3



def largPrimeNumber(N):
    num = 2

    while (num * num) <= N:
        if N % num == 0:  # num is equal to N or devides N evenly
            N = N//num
        else:
            num += 1
    return int(N)


print(largPrimeNumber(24)) #prime number which is a factor too

3

In [41]:
import pandas as pd
df2 = pd.DataFrame({'X':['B','B','A','A'], 'Y': [1,2,3,4]})
df2.groupby(['X']).sum()

   Y
X
A  7
B  3

In [42]:
import numpy as np
df3 = pd.DataFrame({'X':['B','B','A','A'], 'Y': [1,2,3,4]})
df3.groupby(['X']).agg([np.sum, np.mean,np.std])

    Y
  sum mean       std
X
A   7  3.5  0.707107
B   3  1.5  0.707107

In [43]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [44]:
my_arr = np.array([1,2,3,4,5,6])
print(my_arr.shape)

(6,)

In [45]:
def func(x):
    x[0] = 5
    return x

In [46]:
g = [9,10,34]
func(g),g

([5, 10, 34], [5, 10, 34])

In [47]:
not(5<10) and not(5>15)

False

In [48]:
l1 = list()
l1.append(l1)

In [49]:
a = [1,1,2,4,3,5]
b = [4,6,7,8,9]
a = a.extend(b)

In [50]:
a,b,a

(None, [4, 6, 7, 8, 9], None)

In [51]:
# Create a stack using array. Use the class and functions like push() and pop() 

class mystack:
    def __init__(self):
        self.arr = []
    
    def push(self,data):
        self.arr.append(data)
        
    def pop(self):
        if len(self.arr) == 0:
            return -1
        return self.arr.pop()

In [52]:

s1 = mystack()
s1.push(2)
s1.pop()

2

In [53]:
s1.push(23445)
s1.push(7878)
s1.push(45656)

In [54]:
s1.pop()

45656

In [55]:
s1.pop()

7878

In [56]:
s1.pop()

23445

In [57]:
s1.pop()

-1

In [58]:
s1.pop()

-1

In [59]:
s1.pop()

-1

In [60]:
# Count Squares
import math
def countsqr(N):
    num_sqr = int(math.sqrt(N-1))
    return num_sqr

In [61]:
countsqr(8)

2

In [62]:
n = 7
int(math.sqrt(7-1))

2

In [63]:
int(math.sqrt(14))

3

- __Fibonacci series (find the last two digits of the asked fibonacci number say- for the number at (Nth) 13th position)__

In [64]:
def fibonaccidigits(N):
    fib = [0]*300  #created an array of 300 having 300 zeroes
    fib[0] = 0  #zeroth position of array is zero
    fib[1] = 1  #first position of array is one
    for i in range(2,min(299,N)+1):  #iterating over the elements of this array 
        fib[i] = (fib[i-1]+ fib[i-2])%100   #for each element dividing the sum of it's operands by 100
    return fib[N%300]
print(fibonaccidigits(30))

40

In [65]:
def fibonacci(n):
    fib = [0]*300
    fib[0] = 0
    fib[1] = 1
    for i in range(2,min(299,n)+1):
        fib[i] = (fib[i-1]+ fib[i-2])%100
    return fib[n%300]
print(fibonacci(30))

40

In [66]:
print(fibonacci(30))

40

In [67]:
min(299,6) -1

5

In [68]:
#[0]*300 = 300 times zero

In [69]:
def factorial(num):
    factorial = 1
    for i in range(2,num+1):
        factorial = factorial*i
    return factorial

In [70]:
factorial(32)

263130836933693530167218012160000000

In [71]:
#check power

def power(a,b):
    if a ==1:
        if b == 0:
            return 1
        else:
            return 0
    power = 1
    while(power< b):
        power = power*a
    if power == b:
        return 1
    else:
        return 0

In [72]:
power(3,21)

0

In [73]:
power(3,6)

0

In [74]:
# Overlapping squares
#given the coordinates of two rectangles : L1,R1, L2, R2
#we have to find whether these two rectngles will overlap or not

def overlap_sq(l1,r1,l2,r2):
    if l1[0]> r2[0] or l2[0]> r1[0]:
        return 0
    if l1[1]< r2[1] or l2[1]< r1[1]:
        return 0
    return 1

In [75]:
overlap_sq((0,10),(10,0),(5,5),(15,0))

1

In [76]:
#clock angle between the hands of a clock

def get_angle(h,m):
    if h == 12:
        h = 0
    if m == 60:
        m = 0
        
    hourangle = 0.5*(h*60 +m)
    minangle = 6*m
    angle = abs(hourangle- minangle)
    if (angle>180):
        angle = int(360 - angle)
    else:
        angle = int(angle)
    return angle

In [77]:
get_angle(6,15)

97

In [78]:
def count_squares(num):
    num = int(math.sqrt(num-1))
    return num

In [79]:
count_squares(24)

4

In [80]:
#for any integer n find the possible numbe of trailing zeroes in N! (n factorial)
def trailing_zero(n):
    j = 5  #j as 5
    ans = 0  #ans be 0
    while (j<=n):  #5<number entered (ex= 5<56)
        ans = ans + n//j #1.(ans = ans+ 56//5= 11)...2. (ans = 11+56//25= 11+2= 13)
        j = j*5  #(5*5 = 25 this 25 is now our j)
    return ans

In [81]:
trailing_zero(56)

13

In [82]:
# Trianglular numbers
def istrianglular(num):
    ans = int(math.sqrt(2*num))
    if ans*(ans+1) == 2*num:
        return 1
    else:
        return 0

In [83]:
istrianglular(10)

1

# Arrays

In [14]:
#find the minimum and the maximum number in an array

def min_max(arr,n): 
    if n%2 == 0:
        mx = max(arr[0],arr[1])
        mn = min(arr[0],arr[1])
        i = 2
    else:
        mx = mn = arr[0]
        i = 1
    while(i<n-1): 
        if arr[i]<arr[i+1]:
            mx = max(arr[i+1])
            mn = min(arr[i])
        else:
            mx = max(mx, arr[i])
            mn = min(mn, arr[i+1])
        i+=2
    return (mx,mn)

In [10]:
def min_max(arr,n):
    if n%2 == 0:  #array has even no of elements? t/f
        mx = max(arr[0],arr[1]) #if t
        mn = min(arr[0],arr[1])
        i = 2
    else:  #if false
        mn = mx = arr[0]
        i = 1
    while(i<n-1):
              #initialize first element as alone it is the min it is the max 
            if arr[i]<arr[i+1]:
                mx = max(mx,arr[i+1])  #compare greater value from if with the mx that is our first element for now 
                mn = min(mn,arr[i])  #compare lesser value from if with the mn that is first element for now
            else:
                mx = max(mx,arr[i])
                mn = min(mn,arr[i+1])
            i+=2
    return (mx,mn)

In [15]:
arr = [1,3,144,6,8889,1233]
n = 6
min_max(arr,n)

(8889, 1)

In [12]:
max(arr)

8889

In [13]:
min(arr)

1

In [86]:
#find the maximum and the minimum number from a given list of numbers

def min_max(arr,n):
    if n%2 == 0:
        mx = max(arr[0],arr[1])
        mn = min(arr[0], arr[1])
        i = 2
    else:
        mn = mx = arr[0]
        i = 1
    while(i<n-1):
        if arr[i]< arr[i+1]:
                mx = max(mx,arr[i+1])
                mn = min(mn,arr[i])
        else:
            mx = max(mx, arr[i])
            mn = min(mn,arr[i+1])
        i+=2 
    return(mx,mn)

In [87]:
arr = [12,54545,2445,2]
n = 4
min_max(arr,n)

(54545, 2)

In [88]:
#print sum of elements of array

def sum_array(arr,n):
    sa = 0
    for i in range(0,len(arr)):
        sa = sa+arr[i]
    return sa

In [89]:
sum_array(arr,n)

57004

In [90]:
# find the number of unduplicated elements from an array
def unduplicated(arr,n):
    count_ud = 0
    count_d = 0
    for i in range(0,len(arr)):
        for j in range(0,len(arr)):
            if arr[i]!= arr[j]:
                count_ud+=1
            else:
                count_d+=1
    return (count_d,count_ud)

In [91]:
array = [1,2,4,3,2,5,5,7,8]
n = 9

In [92]:
unduplicated(array,n)

(13, 68)

In [93]:
def notduplicated(arr,n):
    i = 0
    for j in range(1,n):
        if arr[0]!= arr[j]:
            i+=1
            arr[i]= arr[j]
    return (i+1)

In [94]:
notduplicated(array,n)

9

In [95]:
def unduplicated(arr,n):
    i = 0
    for j in range(1,n):
            if arr[i]!= arr[j]:
                i+=1 
                arr[i] = arr[j]    
    return (i+1)

In [96]:
# Find the number of triangles

def find_triangles(arr,n):
    arr.sort()
    count = 0
    for i in range(n-2):
        k = i+2
        for j in range(i+1,n):
           
            while(k<n and arr[i]+arr[j]> arr[k]):
                k+=1
                count+=k-j-1 
    return count

In [97]:
arr = [1,3,5,6]
n = 4
find_triangles(arr,n)

1

In [98]:
#star triangle
def pyfunc(r):
    for x in range(r):
        print(' '*(r-x-1)+'*'*(2*x+1))    
pyfunc(9)

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************

In [99]:
r = 25
for x in range(r):
    print(' '*(r-x-1)+'&'*(2*x+1))

                        &
                       &&&
                      &&&&&
                     &&&&&&&
                    &&&&&&&&&
                   &&&&&&&&&&&
                  &&&&&&&&&&&&&
                 &&&&&&&&&&&&&&&
                &&&&&&&&&&&&&&&&&
               &&&&&&&&&&&&&&&&&&&
              &&&&&&&&&&&&&&&&&&&&&
             &&&&&&&&&&&&&&&&&&&&&&&
            &&&&&&&&&&&&&&&&&&&&&&&&&
           &&&&&&&&&&&&&&&&&&&&&&&&&&&
          &&&&&&&&&&&&&&&&&&&&&&&&&&&&&
         &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
        &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
       &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
      &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
     &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
    &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
   &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
  &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
 &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&

In [100]:
def find_palindrome(string):
    rev_string = string[::-1]
    if rev_string == string:
        print("is plaindrome!")
    else:
        print("Not a palindrome!")

In [101]:
find_palindrome("manam")

is plaindrome!

In [102]:
def factorial(num):
    fact = 1
    for i in range(1,num+1):
        fact = num*factorial(num-1)
    return fact

In [103]:
factorial(4)

24

In [104]:
def factorial(num):
    if (num ==0 or num ==1):
        return 1
    else:
    
        fact = num*factorial(num-1)
    return fact

In [105]:
factorial(7)

5040

In [106]:
num = 8
fact = 1
for i in range(1,num+1):
    
    fact = fact*i

In [107]:
fact

40320

In [108]:
#find the highest integer in the list using recursion by creating a function

def highest_integer(l1):
    if len(l1) == 1:
        return l1[0]
    else:
        m = highest_integer(l1[1:])
        return m if m> l1[0] else l1[0]

In [109]:
highest_integer([12,43,6,78,21,90])

90